<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currículum Mario</title>
        <link rel="icon" href="../../img/curriculum icono.png">
        <link rel="stylesheet" href="../../css/estils.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    </head>
<body>
    
    <nav>
		<div class="logo">
			<a href="../experiencia.html"><img src="../../img/ingles.png" class="widthimgfooter"></a>
		</div>
		<div class="menu">
			<ul>
				<li><a href="../en/education.html">Education</a></li>
				<li><a href="../en/index_en.html">Back to the menu</a></li>
			</ul>
		</div>
	</nav>

<div id="experiencia" class="row2">
    <div class="column-1">
        <h2 class="tituloform">Experience</h2>
    </div>
    <div class="column-2 margincenter">
        <h3 class="subtitulosform">Information</h3>
        <hr class="quiensoy">
        <p class="informacion">Computer mid degree internship</p>
        <p class="informacion"><u>Place:</u> Salesians Sant Viçenç dels horts</p>
        <p class="informacion"><u>Features:</u> Help finish the tutor's pending tasks and adapt a little to the world of work</p>
        <p class="informacion"><u>Duration:</u> November 28 of 2022 - May 15 of 2023</u></p>
    </div>
    <div class="column-2 margincenter">
        <h3 class="subtitulosform">Ubication</h3>
        <hr class="quiensoy">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.2693402387044!2d2.0055773759380378!3d41.38995677129948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49ae75c63b5e9%3A0x3f8260d56d08b8e7!2sSalesians%20Sant%20Vicen%C3%A7%20dels%20Horts!5e0!3m2!1ses!2ses!4v1714923255902!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe></div>
</div>
</main>
    <footer>
    <nav>
        <div class="logo2">
            <ul>
                <li><a href="../en/education.html">Education</a></li>
                <li><a href="../en/index_en.html">Back to the menu</a></li>
            </ul>
        </div>
        <div class="menu">
            <div>
                <a href="../experiencia.html"><img src="../../img/ingles.png" class="widthimgfooter"></a>
            </div>
    </nav>
    </footer>
</body>
</html>