<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currículum Mario</title>
        <link rel="icon" href="./img/iconoweb.png">
        <link rel="stylesheet" href="../../css/estils.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
      </head>
<body>
	<nav>
		<div class="logo">
			<a href="../../index.html"><img src="../../img/ingles.png" class="widthimgfooter"></a>
		</div>
		<div class="menu">
			<ul>
				<li><a href="./education.html">Education</a></li>
				<li><a href="./experience.html">Experience</a></li>
			</ul>
		</div>
	</nav>
	<div class="titulo">
		<h1>Mario Fernández</h1>
	</div>
    <main>
        <div id="quiensoy" class="row1">
            <div class="column-1">
                <h2>Who am I?</h2>
            </div>
            <div class="column-2 margincenter">
                <h3>Personal details</h3>
                <hr class="quiensoy">
                <p class="informacion">634537192</p>
                <p class="informacion">mariofernandezcalvo11@gmail.com</p>
                <p class="informacion">Sant Boi de Llobregat, 08830</p>
            </div>
            <div class="column-2">
                <h3>Information</h3>
                <hr class="quiensoy">
                <p class="informacion2">Hello, my name is Mario and I am a SMX2 student at Joan XXIII, I like to play video games, play sports and watch the NBA and I would like to dedicate myself to computing</p>
            </div>
            <div class="column-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yC71p-lm3lY?si=zIhbgrlrGUpWe1ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="column-1-1">
                <hr class="quiensoy">
                <a href="../../Curriculum ingles.pdf" download class="descargar">
                    <button>Download CV</button>
                </a>                  
            </div>
        </div>
        <footer>
            <nav>
                <div class="logo2">
                    <ul>
                        <li><a href="./education.html">Education</a></li>
                        <li><a href="./experience.html">Experience</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div>
                        <a href="../../index.html"><img src="../../img/ingles.png" class="widthimgfooter"></a>
                    </div>
            </nav>
        </footer>
    </body>
    </html>